.ReviewCard {
  min-height: 411px;
  width: 353px;
  padding-block: 30px 20px;
  padding-inline: 20px;
  background-color: #fff;
  border-bottom: 10px;
  box-shadow: 0px 0px 3px $light-grey;

  &__avatar {
    height: 72px;
    width: 72px;
  }

  &__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    color: $light-black;
  }

  &__city {
    font-weight: 500;
    font-size: 14px;
    color: $blue-color;
  }

  &__date {
    font-weight: 400;
    font-size: 14px;
    color: $grey;
  }
}