.menu {
  @include on-desktop() {
    display: none;
  }

  height: 100dvh;
  background-color: #F9F9F9;
  font-weight: 700;
  display: flex;
  flex-direction: column;

  @include on-desktop {
    height: 78px
  }

  &__content {
    // @include content-padding-inline(20px);

    flex: 1;
    width: 100%;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}