.Reviews {
  padding-block: 72px 45px;

  &__title {
    font-weight: 800;
    font-size: 48px;
  }

  &__info-block {
  }

  &__cards-block {
    gap: 42px;
  }

  &__span {
    color: $light-blue;

  }

  &__button {
    width: fit-content;
    padding: 13px 28px;
    background-color: $blue-color;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border-radius: 6px;
  }

  &__description {}

  &__pagination {
    display: flex;
    gap: 12px;
  }

  &__circle {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: $light-grey;

    &--active {
      background-color: $blue-color;
    }
  }
}