$tablet-min-width: 576px;
$desktop-min-width: 1224px;
$main-text-color: #515B6F;
$light-grey: #D6DDEB;
$bg-color: #F8F8FD;
$grey: #7C8493;
$blue-color: #4640DE;
$light-blue: #26A4FF;
$light-black: #25324B;
$footer-color: #202430;