.nav {
  &__disabled {
    display: none;

    @include on-desktop() {
      display: flex;
      height: 100%;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include on-desktop() {
      flex-direction: row;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 22px;
    color: $main-text-color;
    font-weight: 600;

    @include underline-text-hover(-3px);

    @include on-desktop() {
      font-size: 16px;
      display: flex;
      align-items: center;
      height: 100%;
    }

    &--active {
      color: $blue-color;
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        bottom: -3px;
        height: 3px;
        background-color: $blue-color;
      }
    }
  }
}
