.Footer {
  padding-block: 67px 44px;
  background-color: $footer-color;
  color: $light-grey;

  &__logo {
    width: 160px;
  }

  &__about-company {

    &--text {}
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &--drivers {
      gap: 23px;
    }
  }

  &__link {
    color: $light-grey;
    ;
  }

  &__form {
    height: 50px;
    margin-block: 30px 20px;
  }

  &__input {
    height: 100%;
    width: 100%;

    &::placeholder {
      padding: 12px 16px;
    }
  }

  &__button {
    font-weight: 700;
    font-size: 16px;
    background-color: $blue-color;
    color: #fff;
    height: 100%;
    border: none;
    padding: 12px 24px;
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: 0.1;
  }

  &__bottom {
    padding-top: 40px;
    color: $grey;
  }
}